<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TimeTracker.Properties.Settings.TimeSheetConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TimeSheet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>